.component-chat-comment-pane {
    max-width: none !important;

    .comment-list {
        overflow-y: auto;
        max-height: 350px;
        min-height: 350px;

        .inner-comment-list-bottom {
            float: left;
            clear: both;
        }
    }

    .ui.form {
        .field {
            &.disabled textarea:disabled {
                background: #9c9c9c99;
            }
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select:focus,
    textarea:focus,
    input:focus {
      font-size: 16px;
      background: #eee;
    }
  }