.text-ajax-loading {
    color: #E57E00;
}

.text-ajax-failure {
    color: red;
}

.app-body {
    margin-top: 55px;
}

.text-center {
    text-align: center;
}

span.typedSpan {
    display: inline-block;
}

td > a {
    color: #4183c4 !important;
}

.typed-fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}
